* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: silver;
}

body h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: bold;
   
}

body a {
    font-size: 50px;
    text-decoration: none;
    padding: 5px 15px;
    background: red;
    color: aliceblue;
    border-radius: 8px;
}

body a:hover {
    background: rgb(225, 6, 6);
}

body > a {
    margin-bottom: 10px;
}